.comment_container{
    color: #ffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 80px;
}
.comment1{
width: 500px;
height: 164px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 170%;  
color: #FFFFFF;
}
.comment2{
width: 500px;
height: 64px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 180%;
letter-spacing: 0.01em;

color: rgba(255, 255, 255, 0.7);
}


@media only screen and (max-width: 700px) {
    .comment1{
        width: 330px;
        height: auto;
    }
    .comment2{
        width: 330px;
        height: auto;
    }
} 